{% extends 'base.html' %}

{% block title %}
    <title>Home</title>
{% endblock %}

{% block content %}
<div class="bg-secondary mx-auto mt-4 p-5 rounded-5">
    <h1 class="text-center text-warning">Movie Reviews</h1>
    <table class="table table-dark">
        <thead>
            <tr>
                <th>Movie ID</th>
                <th>Movie Title</th>
                <th>Director</th>
                <th>Review</th>
                <th>Rating</th>
                <th>Created_AT</th>
                <th>E-mail</th>
                <th>Status</th>
                <th>Genre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for m in obj %}
            <tr>
                <td>{{m.id}}</td>
                <td>{{m.title}}</td>
                <td>{{m.director}}</td>
                <td>{{m.review}}</td>
                <td>{{m.rating}}</td>
                <td>{{m.created_at}}</td>
                <td>{{m.email}}</td>
                <td>{{m.status}}</td>
                <td>{{m.genre}}</td>
                <td>
                    <a href="/a1/uv/{{m.id}}/"><button class="btn btn-warning me-1">Update</button></a>
                    <a href="/a1/dv/{{m.id}}/"><button class="btn btn-danger">Delete</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}